{% load static %}
{% load bootstrap4 %}
<!--Load static files will bring in all the css, images, and js files-->
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--This is where you can input all the css files. The files are in Django format and following the path from the 'static' file -->
    <link href="{% static 'mysite/css/bootstrap-theme.css' %}"
          rel="stylesheet" media="screen">
          <link rel="stylesheet" type="text/css" href="{% static 'mysite/css/bootstrap.min.css' %}">
          

    <!--You can add in a navigation bar here if it stays the same across all pages-->
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Unlimited Treasures</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="#">Disabled</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
   </div>
 </nav>
<div class="container">
{% block content %}
<!--No need to input anything here. This is where the body of your code will go from the other .html pages-->
{% endblock %}
</div>

<footer>
<!--Anything that repeats in your footer goes here-->
</footer>

<!--I input all of my javascript files at the end just in case the javascript doesn't execute then the page will still load-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--You can insert more javascript files here-->
</html>

